<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="icf.gov.in.iricf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="icf.gov.in.iricf.SplashActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="icf.gov.in.iricf.LoginActivity"
            android:label="Login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="icf.gov.in.iricf.HomeActivity"
            android:label="Home" />
        <activity
            android:name="icf.gov.in.iricf.RakesEditActivity"
            android:label="Edit Rakes"
            android:parentActivityName="icf.gov.in.iricf.HomeActivity" />
        <activity
            android:name="icf.gov.in.iricf.CoachesEdit"
            android:label="Edit Coaches"
            android:parentActivityName="icf.gov.in.iricf.RakesEditActivity" />
        <activity
            android:name="icf.gov.in.iricf.AddCoachActivity"
            android:label="Add Coach" />
        <activity
            android:name="icf.gov.in.iricf.EditStatusActivity"
            android:label="Edit Status" />
        <activity
            android:name="icf.gov.in.iricf.CreateUserActivity"
            android:label="Create User"
            android:parentActivityName="icf.gov.in.iricf.HomeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="icf.gov.in.iricf.LinePositionActivity"
            android:label="Line Position"
            android:parentActivityName="icf.gov.in.iricf.HomeActivity" />
        <activity
            android:name="icf.gov.in.iricf.ProductionLineActivity"
            android:label="Production Line"
            android:parentActivityName="icf.gov.in.iricf.LinePositionActivity" />
        <activity
            android:name="icf.gov.in.iricf.DispatchActivity"
            android:label="Despatch Shed"
            android:parentActivityName="icf.gov.in.iricf.LinePositionActivity" />
        <activity
            android:name="icf.gov.in.iricf.CommissionActivity"
            android:label="Commission Shed"
            android:parentActivityName="icf.gov.in.iricf.LinePositionActivity" />
        <activity
            android:name="icf.gov.in.iricf.OutShedActivity"
            android:label="Shop-32 OutShed"
            android:parentActivityName="icf.gov.in.iricf.LinePositionActivity" />
        <activity
            android:name="icf.gov.in.iricf.PaintActivity"
            android:label="Paint Shop"
            android:parentActivityName="icf.gov.in.iricf.LinePositionActivity" />
        <activity
            android:name="icf.gov.in.iricf.ShellActivity"
            android:label="Shells Received"
            android:parentActivityName="icf.gov.in.iricf.LinePositionActivity" />
        <activity
            android:name="icf.gov.in.iricf.CoachStatusActivity"
            android:label="Coach Status"
            android:parentActivityName="icf.gov.in.iricf.HomeActivity" />
        <activity
            android:name="icf.gov.in.iricf.AllUsersActivity"
            android:label="All Users"
            android:parentActivityName="icf.gov.in.iricf.HomeActivity" />
        <activity
            android:name="icf.gov.in.iricf.DespatchedRakesActivity"
            android:label="Despatched Rakes"
            android:parentActivityName="icf.gov.in.iricf.HomeActivity" />
        <activity
            android:name="icf.gov.in.iricf.Shop36Activity"
            android:label="Shop-36"
            android:parentActivityName="icf.gov.in.iricf.LinePositionActivity" />
    </application>

</manifest>